<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <script src="../static/js/base.js"></script>
    <script src="../static/js/AjaxBase.js"></script>
    <script src="../static/js/q.js"></script>
</head>
<body>
<div>
    <input type="file" id="file"/><br/>
    <input type="button" value="Upload" onclick="sendReq();"/>

    <progress id="progressBar" value="0" max="100">

    </progress>

    <span id="percentage"></span>

</div>

<span id="result">
修改地址做测试,请返回Json对象
AJAX方法为get
请在服务器环境下运行,避免同源限制
</span>
<script>
    //启动ajax生产器

    //var msger=initChannel(),request,addressInput="/upload",

    var res = document.getElementById('result');

    function sendReq() {

        var fileObj = document.getElementById("file").files[0]; // js 获取文件对象

        if (!fileObj) {
            alert("Please choose file to upload");
            return;
        }

        // FormData 对象

        var form = new FormData();

        form.append("file", fileObj);                           // 文件对象

        /*

         if(request)return;

         request=msger.createXHR(addressInput,'post');


         request.promise.then(function(r){
         alert("GET RESPOND!");
         res.innerHTML=JSON.stringify(r.xhr.response);
         },function(r){
         var xhr= r.xhr;
         res.innerHTML='通讯失败:'+xhr.status+' '+xhr.statusText;
         }).fin(function(){
         request=null;
         });

         res.innerHTML='通讯中';

         request.onload = function () {

         alert("上传完成!");

         };

         request.upload.addEventListener("progress", progressFunction, false);


         request.send(form);

         */
        // XMLHttpRequest 对象

        var xhr = new XMLHttpRequest();

        var FileController = "/upload";                    // 接收上传文件的后台地址

        xhr.open("post", FileController, true);

        xhr.onload = function () {

            alert("上传完成!");
            res.innerHTML = 'uploaded';
            res.innerHTML = JSON.stringify(xhr.response);

        };

        xhr.upload.addEventListener("progress", progressFunction, false);


        xhr.send(form);

        res.innerHTML = '通讯中';


    }

    function progressFunction(evt) {

        var progressBar = document.getElementById("progressBar");

        var percentageDiv = document.getElementById("percentage");

        if (evt.lengthComputable) {

            progressBar.max = evt.total;

            progressBar.value = evt.loaded;

            percentageDiv.innerHTML = Math.round(evt.loaded / evt.total * 100) + "%";

        }

    }


</script>
</body>
</html>